<table ng-controller="OrderLineAmountAwardController" style="width: 100%;" cellpadding="0" cellspacing="0">
  <tr>
    <td valign="top">
      <span ng-show="!award.settings.nodeId && !editMode">No product or product category selected</span>
      <span title="{{contentBreadcrump}}" ng-show="award.settings.nodeId" style="margin-right: 4px;">{{contentName}}</span>
      <a href="#" ng-click="deleteValue()" ng-show="award.settings.nodeId && editMode" style="color: red; margin-right: 4px;">Delete</a>
      <a href="#" ng-click="openContentPicker()" ng-show="editMode">Choose...</a>
      <div style="padding-top: 4px;">
        <select ng-model="award.settings.type" ng-disabled="!editMode" class="guiInputText">
          <option value="0">Unit price</option>
          <option value="1">Total price</option>
        </select>
      </div>
      <div style="padding-top: 4px;">
        <input type="radio" value="true" ng-model="award.settings.usePercentage" ng-disabled="!editMode" id="awardPercentage{{$index}}" /><label for="awardPercentage{{$index}}">Percentage</label>
        <input type="radio" value="false" ng-model="award.settings.usePercentage" ng-disabled="!editMode" id="awardAmount{{$index}}" /><label for="awardAmount{{$index}}">Amount</label>
      </div>
      <div ng-show="award.settings.usePercentage == 'true'" class="input-append" style="padding-top: 4px;">
        <input type="text" ng-model="award.settings.percentage" ng-disabled="!editMode" placeholder="Percentage" class="guiInputText" /><span class="add-on">%</span>
      </div>
      <table ng-show="award.settings.usePercentage != 'true'" class="table" style="width: 100%;" cellpadding="0" cellspacing="0">
        <tr ng-repeat="currency in currencies">
          <td>
              <div class="input-prepend">
                  <span class="add-on">{{currency.name}}</span>
                  <input type="text" ng-model="currency.amount" ng-disabled="!editMode" placeholder="Price" class="guiInputText form-control" />
              </div>
          </td>
        </tr>
      </table>
    </td>
    <td style="width: 100px;" valign="top" class="buttons">
      <a href="#" ng-click="editMode=true" ng-show="!editMode" class="edit"><i class="icon-edit"></i>Edit</a>
      <a href="#" ng-click="deleteAward(award)" ng-show="!editMode" class="delete"><i class="icon-delete"></i>Delete</a>
      <a href="#" ng-click="save()" ng-show="editMode" class="save"><i class="icon-hard-drive"></i>Save</a>
    </td>
  </tr>
</table>
