<!--TODO: hvad med novalidate samt ng-show="loaded" -->
<form ng-controller="TeaCommerce.OrderStatus.EditController" ng-submit="save()">
	<umb-editor-container>
		<p>Are you sure you want to delete <strong>{{orderStatus.name}}</strong></p>
	</umb-editor-container>
	<div style="float: right; margin-right: 20px">
	<umb-button type="button"
					action="delete()"
					button-style="success"
					label="OK">
	</umb-button>
	</div>
</form>
<!--<form novalidate name="contentForm" ng-controller="TeaCommerce.OrderStatus.EditController" ng-submit="save()" val-form-manager>
  <umb-panel>
  <umb-header tabs="content.tabs">
    <div class="span7">
      <umb-content-name placeholder="@placeholders_entername" ng-model="content.name"/>
    </div>
  </umb-header>
  
  <umb-tab-view>
    <umb-tab id="tab1" rel="tab1">
      <umb-pane>
        <h1>Common</h1>
        <umb-property property="properties.defaultCountry">
          <div>Alias</div>
        </umb-property>
        
        <div class="umb-tab-buttons" detect-fold>
          <div class="btn-group">
            <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
              <localize key="buttons_save">Save</localize>
            </button>
          </div>
        </div>
      </umb-pane>
    </umb-tab>
  </umb-tab-view>

</umb-panel>
</form>-->